@import url("primereact/resources/themes/lara-light-cyan/theme.css");
@import '~primeflex/primeflex.css';

html, body{
  margin: 0px;
  padding: 0px;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  color: rgb(43 51 58/1);
  border-bottom: 1px solid rgb(226 232 237/1);
}

.continue-button {
  justify-content: flex-end;
  border-top: 1px solid rgb(226 232 237/1);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.max-width-42 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 42rem;
}

.continue-button .p-button.p-button-secondary,
.continue-button .p-buttonset.p-button-secondary > .p-button,
.continue-button .p-splitbutton.p-button-secondary > .p-button,
.continue-button .p-fileupload-choose.p-button-secondary {
  background: rgb(43, 51, 58);
  /* Add other style modifications as needed */
}
